
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class=" text-center  " style="margin-top: 200px;">Our <span style="font-weight: bold;">Services<span style="color: #296270">?</span></span></h2>
        <hr class="break break-small break-center margin-bottom-50" style="width: 25%; margin-bottom: 30px;border-top: 3px solid #296270;width: 100px;">
        <div class="col-md-4 col-sm-6">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service1</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3"
                                                                                                                                                                                                                     class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptatibus libero porro sunt dolor, exercitationem, distinctio aliquid facere vero ad vitae. Ipsum officiis explicabo veniam quis ipsa aspernatur distinctio quia eveniet voluptates cupiditate, mollitia modi culpa tempore? Qui, reiciendis, explicabo.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/h1.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>




        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service2</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                        <span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, vero, error voluptatibus iure dolor voluptates dolore numquam, explicabo quam placeat ut obcaecati dolores dolorem voluptas odit nulla. Totam dicta eos ad, provident voluptates laborum illum deleniti mollitia nostrum fuga earum!</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/12.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service3</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3"
                                                                                                                                                                                                                     class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad cumque porro, rem quasi ipsam quisquam facilis dicta totam voluptatum. Aliquam iusto porro quisquam quas, in ipsa amet doloremque fugiat odio! Asperiores quasi debitis eveniet alias natus dolores magni, sunt.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/8.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="item" style="margin-top: 160px; margin-bottom:1000px;">
        <div class="col-md-4 col-sm-6">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service4</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3"
                                                                                                                                                                                                                     class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores recusandae tenetur voluptatum ad at in a aut officia hic ab! Possimus recusandae temporibus repellendus adipisci amet ducimus ipsam provident officia reiciendis consectetur, sapiente libero commodi, pariatur tempore accusantium placeat! Iste.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/9.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service5</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                        <span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloremque. Est consectetur, quasi similique quis quisquam perspiciatis iure, odit natus. Fugiat aliquid voluptas, laborum a nemo necessitatibus numquam alias, quas praesentium accusantium veniam excepturi facere id aperiam quisquam ut blanditiis!</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/h2.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
            <div class="block-text rel zmin">
                <a title="" href="#">Name service6</a>
                <div class="mark">
                    rating: <span class="rating-input">
                        <span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3"
                                                                                                                                                                                                                     class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>
                    </span>
                </div>
                <p>Ne eam errem semper. Laudem detracto phaedrum cu vim, pri cu errem fierent fabellas. Quis magna in ius, pro vidit nonumy te, nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, eum! Non quisquam aut maxime enim, animi, culpa voluptatum voluptas quos voluptate, eveniet excepturi. Sit, illum, quia! Soluta ipsa culpa ex quisquam praesentium neque aliquam laborum, voluptas dolor officiis eos deleniti.</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel text-light">
                <img src="~/Content/MyLayout/img/11.jpg" alt="" class="person img-circle" />
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget" style="position:absolute;left: 80px;margin-bottom: 30px;margin-top: 20px;">
                        <h5>For Requist</h5>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
@section Scripts {
    
    
    
    }















